<div class="row mainHeadSection tabs">
    <div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 col-sm-12 col-sm-offset-0 col-xs-12 col-xs-offset-0 noPadding">
        <div class="col-lg-10 noPadding">
            <span class="breadCrumb">{{ this.identity.firstname }} /</span>
            <h1>Formularios</h1>
           <!-- <div class="buttonRow">
                <a [routerLink]="['/jefe/formularios/crear-parte']">
                    <button mat-raised-button class="primaryButton">
                        <mat-icon class="iconButton">add_box</mat-icon> Crear parte</button>
                </a>
                <a [routerLink]="['/jefe/formularios/crear-plantilla']">
                    <button mat-raised-button class="primaryButton">
                        <mat-icon class="iconButton">note_add</mat-icon> Crear plantilla</button>
                </a>
                <a [routerLink]="['/jefe/formularios/crear-grupo']">
                    <button mat-raised-button class="primaryButton">
                        <mat-icon class="iconButton">library_add</mat-icon> Crear grupo</button>
                </a>
            </div>-->
        </div>

    </div>
</div>

<div class="row pageSectionContent tabs">
    <div class="pageSectionContentContainer tabs  col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 col-sm-12 col-sm-offset-0 col-xs-12 col-xs-offset-0">
        <router-outlet></router-outlet>
        <mat-tab-group>
            <mat-tab label="Partes no iniciados"> 
                <app-listado *ngIf="this.datos_partes_no_iniciados" ruta="/operario/formularios/ver-parte/" [interfaz]="this.columnas_partes" [titulo]="this.nombre_columnas_partes" [datos]="this.datos_partes_no_iniciados"></app-listado>
            </mat-tab>

            <mat-tab label="Partes iniciados"> 
                <app-listado *ngIf="this.datos_partes_iniciados" ruta="/operario/formularios/ver-parte/" [interfaz]="this.columnas_partes" [titulo]="this.nombre_columnas_partes" [datos]="this.datos_partes_iniciados"></app-listado>
            </mat-tab>

            <mat-tab label="Partes finalizados"> 
                <app-listado *ngIf="this.datos_partes_finalizados" ruta="/operario/formularios/ver-parte/" [interfaz]="this.columnas_partes" [titulo]="this.nombre_columnas_partes" [datos]="this.datos_partes_finalizados"></app-listado>
            </mat-tab>

            <mat-tab label="Partes Especiales"> 
                <h1>Partes Especiales</h1>
            </mat-tab>
	
        </mat-tab-group>

    </div>
</div>