

<div class="row mainHeadSection">
	<div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 col-sm-12 col-sm-offset-0 col-xs-12 col-xs-offset-0 noPadding">
		<div class="col-lg-12 noPadding">
			<span class="breadCrumb">{{ this.identity.firstname }} / Formularios /</span>
			<h1>Crear grupo</h1>
		
			<div class="buttonRow">
				<a [routerLink]="['/jefe/formularios']"><button mat-raised-button class="primaryButton back"><mat-icon class="iconButton">keyboard_backspace</mat-icon> Atrás</button></a>
				
                <a [routerLink]="['/jefe/formularios']"><button mat-raised-button class="primaryButton cancel"><mat-icon class="iconButton">cancel</mat-icon> Cancelar</button></a>	
                
                <a [routerLink]="['/jefe/formularios/editar-grupo/'+this.grupos.id]"><button mat-raised-button class="primaryButton back"><mat-icon class="iconButton">keyboard_backspace</mat-icon> Editar Grupo</button></a>
                
                <a (click)="deleteGroup()"><button mat-raised-button class="primaryButton delete"><mat-icon class="iconButton">delete</mat-icon> Eliminar grupo</button></a>	
			</div>
		</div> 		
	</div>		
</div>

<form #createNewGroup="ngForm" (ngSubmit)="createGroup()" autocomplete="off">

	<div class="row pageSectionContent">
		<div class="pageSectionContentContainer  col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 col-sm-12 col-sm-offset-0 col-xs-12 col-xs-offset-0">
			
			<h2>Nombre del grupo</h2>
		
		</div>	

		<div class="pageSectionContentContainer  col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 col-sm-12 col-sm-offset-0 col-xs-12 col-xs-offset-0">
            <h3 *ngIf="this.grupos">{{ this.grupos.name }}</h3>
        </div>
        
        <div class="pageSectionContentContainer  col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 col-sm-12 col-sm-offset-0 col-xs-12 col-xs-offset-0">
			
			<h2>Plantillas del grupo</h2>
		
		</div>	

		<div class="pageSectionContentContainer  col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 col-sm-12 col-sm-offset-0 col-xs-12 col-xs-offset-0">
            <div *ngIf="this.datos_plantillas" style="max-width: 500px; margin: auto; border: solid 1px #000;">
                <app-listado *ngIf="this.datos_plantillas" ruta="/jefe/formularios/ver-plantilla/" [interfaz]="this.columnas_plantillas" [titulo]="this.nombre_columnas_plantillas" [datos]="this.datos_plantillas"></app-listado>
            </div>
            <h3 *ngIf="!this.datos_plantillas">No hay plantillas disponibles</h3>
		</div>

		

		<div class="pageSectionContentContainer blueContainer col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 col-sm-12 col-sm-offset-0 col-xs-12 col-xs-offset-0">
				
			
		</div>
	</div>
</form>

